<script src="js/socket.io.min.js"></script>
<script src="js/jquery-3.6.3.min.js"></script>
<script src="js/setting.js"></script>
<script src="lib/eventEmitter.js"></script>
<script src="lib/main.js"></script>
<script src="js/functions.js"></script>
<script src="js/messenger.js"></script>
<script src="js/addContact.js"></script>
<script src="js/saveMessage.js"></script>
<script src="js/createChannel.js"></script>
<script src="js/group.js"></script>
<script src="js/sendFile.js"></script>
<script src="js/videoChat.js"></script>
</body>
</html>