<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messenger</title>
    <script src="js/manageRoot.js"></script>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/fontsAndSetting.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/inputRange.css">
    <link rel="stylesheet" href="css/messenger.css">
    <link rel="stylesheet" href="css/addContact.css">
    <link rel="stylesheet" href="css/channel.css">
    <link rel="stylesheet" href="css/group.css">
</head>
<body>