<div class="channelContainer aic frc fww dsn pr" id="groupContainer">
    <i class="fa fa-multiply cc" id="backToMenuGroup"></i>
    <form action="#" class="aic frsb" id="groupForm">
        <div id="level1group" class="tran pr">
            <div class="ac ffr capit w170">enter group name</div>
            <input type="text"  class="channelInput mt10" placeholder="group name" id="groupName">
            <input type="text" id="groupDiscription" class="channelInput mt10" spellcheck="false" placeholder="discription (optional)">
            <div class="frsb mt10 aic" id="wordNumGroup">
                <div class="cgray fs14">0/50</div>
                <div>
                    <div class="cr fs12 ffr fwb dsn w190">your that's more than 50 character!</div>
                </div>
            </div>
            <input type="file" class="dsn" id="groupPicture">
            <div class="ac ffr capit w170 mt10 fs12">select picture for your group</div>
            <label for="groupPicture" class="mt10 aic frc" id="groupPictureL">
                <i class="fa fa-plus ac"></i>
            </label>
            <div class="ac ffr m-auto w170 fs10 dsn">you can select just jpg,jpeg,png !</div>
            <div class="frfe w100">
                <button type="button" class="saveContact mt10i" id="gLevel2group">next</button>
            </div>
        </div>
        <div id="level2group" class="tran fcfs pr">
            <div class="box4">
                <i class="fa fa-arrow-left dib" id="leftLevel1group"></i>
                <input type="text" class="channelInput" placeholder="search contact">
            </div>
            <div class="allContactBox allContactBoxGroup fcfs fww">
                
            </div>
            <div class="frfe">
                <button type="submit" class="createChannelSubmit">create group</button>
            </div>
        </div>
    </form>
    <div id="endOfCreateGroup" class="frc aic dsn">
        <div class="fcc">
            <i class="fa fa-check" aria-hidden="true"></i>
            <svg viewBox="0 0 90 80">
                <text class="svgText" y="40" x="5">created!</text>
            </svg>
        </div>
    </div>
</div>