<div class="type-area" id="mainForm">
    <div id="istyping" class="fcc dsn"></div>
    <div class="undo aic fs12 pa">back</div>
    <form action="#" class="frfs aic mf" id="sendMessageform">
        <i class="fa-solid fa-face-smile cgr"></i>
        <input class="input-massage" type="text">
    </form>
    <form action="#" class="frsb aic" id="sendFileForm">
        <button id="sendFileBtn" class="dsn" type="submit">
            <i class="fa fa-paper-plane cgr" aria-hidden="true"></i>
        </button>
        <div id="fileInputName" class="dsn"></div>
        <div class="frs">
            <i class="fa fa-microphone cgr" aria-hidden="true"></i>
            <input type="file" id="fileContent" class="dsn">
            <label for="fileContent">
                <i class="fa-solid fa-paperclip cgr"></i>
            </label>
        </div>
    </form>
</div>
<div class="type-area dsn" id="saveMessageForm">
    <div class="undo aic fs12 pa">back</div>
    <form action="#" class="frfs aic mf">
        <i class="fa-solid fa-face-smile cgr"></i>
        <input class="input-massage" type="text">
    </form>
    <form action="#" class="frsb aic" id="sendFileForm">
        <button id="sendFileBtn" class="dsn" type="submit">
            <i class="fa fa-paper-plane cgr" aria-hidden="true"></i>
        </button>
        <div id="fileInputName" class="dsn"></div>
        <div class="frs">
            <i class="fa fa-microphone cgr" aria-hidden="true"></i>
            <input type="file" id="fileContent" class="dsn">
            <label for="fileContent">
                <i class="fa-solid fa-paperclip cgr"></i>
            </label>
        </div>
    </form>
</div>