<li class="optionC aic">
    <div class="frfs w20px">
        <i class="optionIcon fa-solid fa-cloud"></i>
        <div class="optionName">
            saved masseges
        </div>
    </div>
</li>
<li class="optionC aic" id="createGroup">
    <div class="frfs w20px">
        <i class="optionIcon fa-solid fa-people-group"></i>
        <div class="optionName">
            new group
        </div>
    </div>
</li>
<li class="optionC aic" id="createChannel">
    <div class="frfs w20px">
        <i class="optionIcon fa-solid fa-podcast"></i>
        <div class="optionName">
            new channel
        </div>
    </div>
</li>
<li class="optionC aic">
    <div class="frfs w20px" id="addContact">
        <i class="optionIcon fa-solid fa-address-book"></i>
        <div class="optionName">
            contacts
        </div>
    </div>
</li>
<li class="optionC aic" id="bychatSetting">
    <div class="frfs w20px">
        <i class="optionIcon fa-solid fa-gears"></i>
        <div class="optionName">
            settings
        </div>
    </div>
</li>