<div class="profile-section br0 fltr">
    <div class="header-pic">
        <div class="mt10 ml10 nsns">
            <i class="fa fa-arrow-left chatB"></i>
        </div>
    </div>
    <div class="profile-pic" id="account-profile-pic"></div>
    <div class="containMe">
        <div class="icons frsb fs">
            <i class="fa-solid fa-magnifying-glass iconFS ml10 cl"></i>
            <div>
                <i class="fa fa-video iconFS cl" id="videoChatIcon"></i>
                <i class="fa-solid fa-bell iconFS cl" id="notificationIcon"></i>
                <i class="fa-solid fa-ellipsis-vertical iconFS cl"></i>
            </div>
        </div>
        <div class="info">
            <i class="fa-solid fa-phone cg"></i>
            <div>
                <p class="fs14">Phone</p>
                <h5 class="cli" id="phoneNumber">0910 012 1292</h5>
            </div>
        </div>
        <div class="info dsn">
            <i class="fa-solid fa-users cor"></i>
            <div>
                <p class="fs14">Channel Name</p>
                <h5 class="cli" id="channelNameShow">music and video</h5>
            </div>
        </div>
        <div class="info">
            <div class="copyed tran frc aic fs10">copyed!</div>
            <i class="fa-solid fa-id-badge cc"></i>
            <div>
                <p class="fs14">ID</p>
                <h5 class="cli" id="ID">@bluhbluh</h5>
            </div>
        </div>
        <div class="info1">
            <i class="fa-solid fa-info-circle csb"></i>
            <div>
                <p class="fs14 cgray fwb">Bio</p>
                <h5 class="cli" id="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, voluptatem. Sit, sequi dolores debitis molestiae minima voluptatem atque quod, vero delectus illum ea cumque, officia omnis quidem eaque iste adipisci.</h5>
            </div>
        </div>
    </div>
</div>