<header class="navbar">
    <i class="fa fa-arrow-left fs20 fs-18" id="goBack"></i>
    <div class="frs aic cll">
        <div class="profile-pic"></div>
        <div class="profileTxt">
            <h3 class="account-name" >My Bitch</h3>
            <p class="last-seen">Last Seen Recently</p>
        </div>
    </div>
    <div id="joinOrLeft" class="pa dsn">join</div>
</header>