<div id="settingContainer" class="fcfs dsn">
    <div class="firstContainer">
        <div class="frfe mt10">
            <i class="fa fa-multiply cwi mr10 fs20" id="backToHomeS"></i>
        </div>
        <div class="frfs aic">
            <div class="profilePictureSetting ml10"></div>
            <div class="ml20 fs14">
                <div class="">@javadshekarian</div>
                <div class="fs12 ml10">online</div>
            </div>
        </div>
    </div>
    <div class="settingOption fs14 mt20 ml10">
        <div class="fwb fs12 cc">phone number</div>
        <div class="fs12 mt5 cae ffmo">+98 910 035 3458</div>
    </div>
    <div class="settingOption fs14 mt20 ml10">
        <div class="fwb fs12 cc">username</div>
        <div class="fs12 mt5 cae ffmo">javadshekarian</div>
    </div>
    <div class="settingOption fs14 mt20 ml10">
        <div class="fwb fs12 cc">bio</div>
        <div class="fs12 mt5 cae ffmo">i beleave life of before death!</div>
    </div>
    <div class="ml10 mt20 cc fwb">Setting</div>
    <div class="settingOption2 fs14 mt20 ml10 frfs cp">
        <i class="fa fa-bell settingIcon"></i>
        <div class="ml10 frfs">
            <div class="fs1">notification</div>
            <div class="ml5 cae fs1 fs12">(off)</div>
        </div>
    </div>
    <div class="settingOption2 fs14 mt20 ml10 frfs cp">
        <i class="fa-solid fa-globe settingIcon1"></i>
        <div class="ml10 frfs aic">
            <div class="fs1">language</div>
            <div class="ml5 cae fs1 fs12">(en)</div>
        </div>
    </div>
    <div class="ml10 mt30 cc fwb cp">About Bychat!</div>
</div>